<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil de Titouan Simon</title>
    <link rel="stylesheet" href="..\static\css\style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>

    <!-- En-tête -->
    <header>
        <div class="header-container">
            <!-- <img src="..\static\IMG\avatar.jpg" alt="Photo de Titouan" class="avatar"> -->
            <img src="..\static\IMG\avatar.jpg" alt="Photo de Titouan" class="avatar">
            <h1>Titouan SIMON</h1>
           <h2>Étudiant à l'EPITA</h2>
           <p>Passionné d'informatique et de développement</p>
        </div>
        <nav>
            <ul class="menu">
                <li><a href="#about">À Propos</a></li>
                <li><a href="#skills">Compétences</a></li>
                <li><a href="#experience">Expérience</a></li>
                <li><a href="#projects">Projets</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">

        <!-- Section À Propos -->
        <section id="about" class="box">
            <h3>À Propos de Moi</h3>
            <p>Je suis Titouan SIMON, étudiant à l’EPITA et passionné d'informatique depuis mes années de lycée, où j'ai découvert les bases de la programmation lors des ateliers organisés par Magic Makers.
                Depuis, ma curiosité et mon envie d'apprendre m'ont permis de développer des compétences diversifiées, ainsi qu'un sens aiguisé de la rigueur et de la créativité.
                Je me distingue par mon esprit d’analyse, ma curiosité et mon dynamisme, et j'apprécie particulièrement la gestion de projets.</p>
        </section>

        <!-- Section Compétences -->
        <section id="skills" class="box">
            <h3>Compétences et Points Forts</h3>
            <p>
                Langages de programmation : C#, Python et Caml
                <br>Développement Web : HTML/CSS
                <br>Développement de jeux vidéo : Unity
            </p>
        </section>

        <!-- Section Expérience -->
        <section id="experience" class="box">
            <h3>Expérience</h3>
            <p>
                Grâce à mes projets personnels et collaboratifs, j'ai pu approfondir mes compétences en développement informatique et enrichir ma culture technique. Ces expériences m'ont permis de découvrir plusieurs domaines de l'informatique, et d'affiner mon approche du développement et de la gestion de projets.
            </p>
        </section>

        <!-- Section Projets -->
        <section id="projects" class="box">
            <h3>Projets</h3>
            <div class="projects-container">
                <div class="project-item">
                    <h4>TitouService</h4>
                    <p>Un site web utilisant Flask et intégrant une gestion de bases de données.</p>
                    <a href="https://github.com/titou4n/TService" target="_blank" class="button">Voir sur GitHub</a>
                </div>
                <div class="project-item">
                    <h4>HashDecode</h4>
                    <p>Un programme pour la décryptographie de hashes, développé avec Hashcat.</p>
                    <a href="https://github.com/ton-github/second-project" target="_blank" class="button">Voir sur GitHub</a>
                </div>
                <div class="project-item">
                    <h4>Librairie SQL</h4>
                    <p>Gestion du stock d'une librairie, utilisation de SQL</p>
                    <a href="https://github.com/titou4n/NSI_Projet_2_Voyageur_de_Commerce" target="_blank" class="button">Voir sur GitHub</a>
                </div>
                <div class="project-item">
                    <h4>Problème du "Voyageur de commerce"</h4>
                    <p>Cas d'étude concret qui permet d'appliquer de nombreuses compétences algorithmiques</p>
                    <a href="https://github.com/titou4n/NSI_Projet_2_Voyageur_de_Commerce" target="_blank" class="button">Voir sur GitHub</a>
                </div>
                <div class="project-item">
                    <h4>Autre Projet</h4>
                    <p>Projet Additionnel</p>
                    <a href="https://github.com/titou4n/NSI_Projet_1_Librairie" target="_blank" class="button">Voir sur GitHub</a>
                </div>
            </div>
        </section>
        <br>
        <!-- Section Contact -->
        <section id="contact" class="box">
            <h3>Contact</h3>
            <p>Pour toute demande, veuillez me contacter via l’un des canaux suivants :</p>
            <div class="contact-options">
                <a href="https://www.linkedin.com/in/titouan-simon-14b6b2343" target="_blank" class="button">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>
                <a href="mailto:titouan.simon.pro@gmail.com" class="button">
                    <i class="fas fa-envelope"></i> Email
                </a>
                <a href="https://discordapp.com/users/556179903146491908" target="_blank" class="button">
                    <i class="fab fa-discord"></i> Discord
                </a>
                <a href="https://github.com/titou4n/" target="_blank" class="button">
                    <i class="fab fa-github"></i> GitHub
                </a>
            </div>
        </section>

    </main>
    <footer>
        <p>&copy; Titouan SIMON - Tous droits réservés</p>
    </footer>
</body>
</html>
